.story{
    width:75%;
    // text-align:center;
    margin:0 auto;
    box-shadow:0 3rem 6rem rgba($color-black,.1);
    background-color:rgba($color-white,.6);
    padding:6rem ;
    padding-left: 9rem;
    border-radius:.3rem;
    font-size:$default-font-size;
    transform:skewX(-12deg);
    @include respond(tab-port){
        width:100%;
    }

    @include respond(phone){
        transform:skewX(0);
        

    }

    &__shape{
        height: 15rem;
        width:15rem;
        // background-color:orangered;
        float:left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path:circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform:translateX(-3rem) skewX(12deg);
        position: relative;


        @include respond(phone){
            transform:translateX(-3rem) skewX(0);
        }
    }


    &__text{
        transform:skewX(12deg);
        @include respond(phone){
            transform:skewX(0);
        }
    }
    &__img{
        height: 100%;
        transform:translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        overflow: hidden;
        transition: all .2s;
        // width:100%;
    }

    &__caption{
        position: absolute;
        top:50%;
        left:50%;
        text-align:center;
        text-transform:uppercase;
        transform:translate(-50%,20%);
        color:$color-white;
        opacity:0;
        font-size:1.7rem;
        transition:all .2s;
        backface-visibility: hidden;
    }
    &:hover &__caption{
        opacity:1;
        transform:translate(-50%,-50%);
    }

    &:hover &__img{
        transform:translateX(-4rem) scale(1);
        filter:blur(3px) brightness(80%);
    }
}